body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(mc3.jpg);
    background-size: cover; 
    background-position: center; /* Centers the image */
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8); /* Adds a slight opacity for better readability */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.form-container h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="checkbox"] {
    margin-right: 10px;
}

.form-group .checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.form-group .checkbox-group label {
    width: 50%;
    margin: 5px 0;
}

.form-group textarea {
    height: 80px;
    resize: vertical;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #8e2d00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #45a049;
}
